.pur-FillInTheBlanks {
    @import "stylesheets/spacings";
    @import "stylesheets/breakpoints";

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .pur-Blank + .pur-Blank {
        margin-top: getSpacing();
    }

    .pur-Blank {
        justify-content: flex-end;
    }

    @media screen and (min-width: $pur-breakpoint-mobile) {
        flex-direction: row;

        .pur-Blank + .pur-Blank {
            margin-top: 0;
            margin-left: getSpacing();
        }

        .pur-Blank {
            justify-content: initial;
        }
    }
}
