.pur-Button {
    @import "../../stylesheets/colors";
    background-color: $pug-color-sunshade;
    border: 0;
    border-radius: 4px;
    height: 40px;
    padding: 0 15px;
    color: #fff;

    &__left-child {

    }

    &__right-child {

    }

    &__content {

    }
}
