.pur-React {
    @import "./stylesheets/fonts";
    * {
        font-family: $pur-font-primary;
        -webkit-font-smoothing: antialiased;
    }

    &--root {
        z-index: 1
    }

    &--portal {
        position: absolute;
        z-index: 2;
    }
}

.pur-React {
    background: #fff;
    min-height: calc(100vh - 60px);
}
