.pur-MenuLink {
    @import "../../stylesheets/spacings";

    display: block;
    color: #494949;
    text-decoration: none;
    font-weight: 600;
    min-height: 60px;
    padding: getSpacing(2) getSpacing(3);

    &__icon, &__label {
        display: inline-block;
        vertical-align: middle;
    }

    &__icon {
        margin-right: getSpacing(1);
    }

    &__counter {
        float: right;
        font-weight: 300;
        color: #999999;
    }

    &--active {
        background-color: #fff;
    }

    &:not(.pur-MenuLink--active):hover {
        background-color: #e4e4e4;
    }

    // Overwrite base partup styling
    &:hover, &:active, &:focus {
        color: inherit;
    }
}
