.pu-boardview-card {
    white-space: normal;
    cursor: move;
    -webkit-overflow-scrolling: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &--is-ghost {
        border: 2px dashed #ccc;
        border-radius: 4px;

        .pu-activity {
            visibility: hidden;
        }
    }

    &--is-dragging {
        .pu-activity {
            // background-color: #eee;
            background-color: rgba(255,255,255,1);
        }
    }
}
