.pur-Tile {
    @import "stylesheets/colors";
    @import "stylesheets/spacings";
    @import "stylesheets/border-radius";

    $padding: getSpacing(1.5);

    background-color: $pur-color-white;
    border-radius: $pur-border-radius-controls;
    border: 2px solid $pur-color-gallery;
    padding: 8px $padding $padding $padding;

    &__title {
        font-size: 12px;
        font-weight: 600;
        color: $pur-color-dusty-gray;
        margin-bottom: 6px;
    }

    &__content {

    }
}
