.pu-app {
    background-color: $color-background;

    // min-width: 600px

    &-responsive {
        min-width: $breakpoint-min;
    }

    &-home {
        .pu-page {
            margin-top: -60px;
        }
    }

    padding-top: $spacing-app-headerheight;

    .pu-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 15;
        transform: translateZ(0);
    }

    &-home {
        padding-top: 0;

        .pu-page {
            margin-top: 0;
        }
    }
}
