.pu-imagesystem {
    position: relative;
    height: 236px;
    background-color: #eee;

    .pu-sub-loadercontainer {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-color: rgba(white, 0.8);
            text-align: center;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.2s;

            .pu-loader {
                margin-top: 103px;
            }

            &-active {
                opacity: 1;
            }
        }

    .centered {
        display: table;
        height: 100%;
        
        > figcaption {
            display: table-cell;
            height: 100%;
            text-align: center;
            vertical-align: middle;

            > span {
                display: inline-block;
                width: 60%;
                font-weight: bold;
                color: #999;
                line-height: 1.6em;
            }
        }
    }

    .pu-sub-buttons {
        position: absolute;
        display: inline-block;
        left: 20px;
        bottom: 20px;
        cursor: pointer;

        .pu-button {
            background-color: $color-primary;
            
            > span {
                @include user-select(none);
            }

            &:hover {
                background-color: $color-primary;
            }
        }
    }

    .pu-focuspoint {
        display: block;
        position: absolute;
        top: 40px;
        right: 40px;
        bottom: 40px;
        left: 40px;
    }

    .drop-area {
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
    }
    .pu-drop-active {
        border: 4px dashed #cecece;
    }
}

.pu-dragging {
    .pu-sub-buttons {
        opacity: 0.2;
        pointer-events: none;
    }
}
