[data-usercard] {
    cursor: pointer;
}

.pu-upper {
    header {
        min-height: 80px;
        margin-bottom: 13px;
        white-space: nowrap;

        figure {
            position: relative;
            transition: opacity 0.2s;

            .pu-score {
                position: absolute;
                bottom: -14px;
                right: -14px;

                &-tiny {
                    bottom: 0;
                    right: 0;
                }
            }
        }

        .pu-sub-figure,
        .pu-sub-title {
            display: inline-block;
            vertical-align: top;
        }

        .pu-sub-title {
            margin-top: 10px - 5px;
            margin-left: 16px - 4px;
            white-space: normal;
            width: calc(100% - 104px);
        }

        a.pu-sub-figure {
            &:hover {
                figure {
                    opacity: 0.8;
                }
            }
        }

        h4 {
            font-size: 16px;
            margin-bottom: 3px;

            a {
                text-decoration: none;
                color: $color-text;
                transition: color $animation-duration;

                &:hover {
                    color: lighten($color-text, 30%);
                }
            }
        }

        p {
            font-size: 14px;
            color: $color-text-subtle;
        }
    }

    article {
        margin-bottom: 14px;

        p {
            $font-size: 14px;
            $line-height: 1.4;
            $lines-to-show: 3;

            display: block;
            display: -webkit-box;
            max-width: 400px;
            max-height: $font-size * $line-height * $lines-to-show;
            margin: 0 auto;
            font-size: $font-size;
            line-height: $line-height;
            -webkit-line-clamp: $lines-to-show;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .pu-stats .pu-sub-button {
        transition: opacity 0.2s;
        opacity: 0;

        &--always-visible {
            opacity: 1;
        }
    }

    &__label {
        background-color: $color-border-light;
        font-size: 14px;
        font-family: $font-primary;
        color: rgba(#494949, 0.5);
        font-weight: 600;
        display: block;
        margin-top: 20px;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: -20px;
        padding: 20px;
        text-align: right;
    }

    &__similarities {
        display: block;
        padding: 12px 20px;
        background-color: #f9f9f9;
        font-family: $font-primary;
        border-top: solid 2px #eeeeee;
        color: $color-primary;
        text-align: left;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.14;
        margin-top: 20px;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: -20px;
    }

    &:hover,
    &.active {
        .pu-stats .pu-sub-button {
            opacity: 1;
        }
    }
}
