$outerMargin: 10px;
$iconWidth: 36px;
$iconHeight: 48px;

.icons-2-layout {
    li {
        width: 49.5%;
    }
}

.icons-1-layout {
    li {
        width: 100%;
    }
}

ul.document-icons {
    padding: 0;
    margin: 5px auto;
    list-style-type: none;
    display: block;

    a {
        border-radius: 4px;
        background: #eeeeee;
        display: block;
        width: 100%;
        height: 68px;
        text-decoration: none;
        padding: $outerMargin;
        color: black;
    }

    li {
        display: inline-block;
        margin: 0;
        padding: 5px;
        min-width: 250px;

        figure {
            background-color: transparent;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }

        p {
            line-height: 1.3em;
            font-size: 16px;
            padding: 0;
            margin: 0;
            

            &.file-name {
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &.file-service {
                display: inline-block;
                color: darkgrey;
                font-style: italic;
                padding-left: em(5);
            }
            &.file-bytes {
                display: inline-block;
                color: gray;
            }
        }
    }
}

.file-download {
    float: right;
    margin-right: $outerMargin;
    padding-left: em(10);
}

.file-icon {
    float: left;
    margin-right: $outerMargin;
}

.pu-doc-icon {
    width: $iconWidth;
    height: $iconHeight;
}

.pu-download-icon {
    width: 14px;
    height: 20px;
    margin-top: 15px !important;
}

.file-information {
    margin-top: 5px;
}
