PORT=3000
TEMP_DIR=/tmp
CLOUD_DIR=/tmp

PARTUP_CRON_ENABLED="1"

FACEBOOK_APP_ID=""
FACEBOOK_APP_SECRET=""

LINKEDIN_API_KEY=""
LINKEDIN_SECRET_KEY=""

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_BUCKET_REGION=""
AWS_BUCKET_NAME=""

EVENT_ENDPOINT_URL=""
EVENT_ENDPOINT_AUTHORIZATION=""

GOOGLE_API_KEY=""

METEOR_SETTINGS="{\"public\":{\"analyticsSettings\":{\"Google Analytics\":{\"trackingId\":\"\"}}}}"

PUSH_APPLE_APN_PFX=""
PUSH_GOOGLE_GCM_API=""
