.pur-SideBarView__sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  font-size: 15px;
  width: 372px;
  background-color: #eeeeee;
  overflow-y: auto; }

.pur-SideBarView__content {
  margin-left: 372px;
  width: calc(100% - $sideBarWidth); }
