.pur-SideBarView {
    &__sidebar {
        font-size: 15px;
        background-color: #eeeeee;
        width: 100%;
    }

    @media screen and (min-width: 420px) {
        $pur-sideBarWidth: 372px;

        &__sidebar {
            position: fixed;
            top: 60px;
            bottom: 0;
            width: $pur-sideBarWidth;
            overflow-y: auto;
        }

        &__content {
            margin-left: $pur-sideBarWidth;
        }
    }
}
