.pu-tribestart-about {
    padding-top: 27px;
    padding-bottom: 40px;

    &__container.pu-tribestart-wrap {
        max-width: 630px;
    }

    &__footer {
        background-color: #f9f9f9;
        padding: 24px 36px;
        border-radius: 4px;
    }

    @media screen and (min-width: $breakpoint-tablet) {
        padding-top: 50px;
        padding-bottom: 60px;
    }
}
