.pu-tribestart-nav {
    background-color: #38a6af;
    text-align: center;
    height: 40px;
    opacity: 0;
    transition: opacity 150ms;

    &__container {
        background-color: #38a6af;
        text-align: center;
        height: 40px;

        &-attached {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 9;
        }
    }

    &__list {
        white-space: nowrap;
        overflow-x: scroll;
    }

    &__listitem {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        padding: 12px 24px 12px 24px;
        display: inline-block;
        font-size: 14px;
        font-family: $font-secondary;

        &:hover {
            text-decoration: none;
            background-color: darken(#38a6af, 5%);
            color: #fff;
        }
    }

    &--fade-in {
        opacity: 1;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        &__container {
            &-attached {
                top: 60px;
            }
        }
    }
}
