.pu-tribestart-mostactive {
    padding-top: 27px;
    padding-bottom: 40px;
    background-color: #f9f9f9;
    text-align: center;

    &__title {
        margin-bottom: 30px;
    }

    &__partups {
        margin-bottom: 40px;
        margin-left: -10px;
        margin-right: -10px;

        &__item {
            max-width: 275px;
            text-align: left;
            margin-right: 10px;
            margin-left: 10px;
            margin-bottom: 20px;
        }
    }

    @media screen and (min-width: $breakpoint-tablet) {
        padding-top: 50px;
        padding-bottom: 60px;
    }
}
