.pur-PartupOnboardingTile {
    @import "stylesheets/spacings";

    padding: getSpacing(3);
    background: #fff;
    border-radius: 3px;
    font-size: 14px;

    &__buttons {
        margin-top: getSpacing(1);

        .pur-Button {
            margin-top: getSpacing(1);
            margin-right: getSpacing(1);
            margin-left: getSpacing(0);
        }
    }

    &__dismiss-button {
        padding: 10px;

        &, &:hover, &:active {
            color: #aaaaaa;
            font-weight: bold;
            text-decoration: none;
        }

        &:hover {
            color: #333;
        }
    }
}
