.pur-ContentView {
    @import "stylesheets/breakpoints";
    padding: 15px;

    > * + * {
        margin-top: 25px;
    }

    @media screen and (min-width: $pur-breakpoint-mobile-small) {
        padding: 25px 35px;
    }

    @media screen and (min-width: $pur-breakpoint-desktop) {
        padding: 25px 95px;
    }

    &--no-padding {
        padding: 0;
    }
}
