.pur-ActivityTile {
    @import "stylesheets/spacings";
    @import "stylesheets/breakpoints";

    position: relative;
    padding: getSpacing(1.5);
    background: #fff;
    border-radius: 4px;
    border: 2px solid #eeeeee;
    display: flex;
    flex-direction: column;

    &__header {
        flex: 1;
    }

    &__title {
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }

    &__menu.pur-PopoverMenu {
        position: absolute;
        top: getSpacing(0.5);
        right: getSpacing(1);
    }

    &__seperator {
        display: none;
    }

    &__meta-info {
        font-weight: 600;
        display: flex;
        margin-top: 4px;
        flex-direction: column;
        font-size: 12px;
        color: #999999;
    }

    &__timestamp {
        color: #999999;
    }

    &__partup-link {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    &__participants {
        border-top: 2px solid #eee;
        padding-top: getSpacing(0.5);
        margin-top: getSpacing(1.5);
        .pur-ParticipantAvatars .pur-UserAvatar {
            width: 44px;
            height: 44px;
        }
    }

    @media screen and (min-width: $pur-breakpoint-mobile) {
        // padding: getSpacing(1.5);
        flex-direction: row;

        &__header {
            margin-right: getSpacing(1);
        }

        &__meta-info {
            flex-direction: row;
            margin-top: 0;
            align-items: center;
        }

        &__seperator {
            display: inline-block;
            margin: 0 getSpacing(0.5);
        }

        &__menu.pur-PopoverMenu {
            position: relative;
            top: 0;
            right: 0;
        }

        &__title {
        }

        &__meta-info {
            margin-top: 3px;
        }

        &__participants {
            flex: 0 0 180px;
            border-left: 2px solid #eee;
            border-top: 0;
            padding: 0 getSpacing(1);
            margin: 0 0 0 getSpacing(1);

            .pur-ParticipantAvatars .pur-UserAvatar {
                width: 32px;
                height: 32px;
            }
        }
    }
}
