// $pur-what-definition
$pur-color-sunshade: #ffa725;
$pur-color-fountain-blue: #57c0c9;
$pur-color-gallery: #eeeeee;
$pur-color-white: #fff;
$pur-color-alto: #dcdcdc;
$pur-color-tundora: #494949;
$pur-color-alabaster: #f9f9f9;
$pur-color-silver: #cccccc;
$pur-color-white: #ffffff;
