.pur-DropDown {
    @import "stylesheets/border-radius";
    @import "stylesheets/spacings";
    @import "stylesheets/colors";

    $spacing: getSpacing();
    $borderWidth: 2px;

    width: 100%;
    position: relative;

    &__button-control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border: 0;
        border-radius: $pur-border-radius-standard;
        background-color: $pur-color-alto;
        color: $pur-color-tundora;
        text-align: left;
        font-weight: 600;
        font-size: 14px;

        border: $borderWidth solid $pur-color-alto;
        padding: $spacing;
        outline: 0;

        &__caret {
            font-size: 10px;
        }

        &__leftChild + &__label,
        &__label + &__caret {
            margin-left: $spacing;
        }

        &__label {
            text-align: left;
            flex: 1;
        }

        &:hover {
            background: $pur-color-white;
        }
    }

    &__items {
        position: absolute;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        background: $pur-color-white;
        border: $borderWidth solid $pur-color-silver;
        border-top: 0;

        border-bottom-left-radius: $pur-border-radius-standard;
        border-bottom-right-radius: $pur-border-radius-standard;
        z-index: 1;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $spacing;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        border-top: $borderWidth solid $pur-color-alabaster;

        &__leftChild + &__label,
        &__label + &__rightChild {
            margin-left: $spacing;
        }

        &__label {
            text-align: left;
            flex: 1;
        }

        &:hover {
            background-color: $pur-color-alabaster;
        }
    }

    &--is-expanded &__button-control {
        background-color: $pur-color-white;
        border-color: $pur-color-silver;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
        padding-bottom: calc(#{$spacing} + #{$borderWidth});
        color: $pur-color-silver;

        &__caret {
            transform: rotate(180deg);
        }
    }
}
