.pur-Link {
    @import "../../stylesheets/fonts";
    @import "../../stylesheets/colors";

    color: $pur-color-sunshade;
    border: 0;
    display: inline-block;
    line-height: normal;
    transition: color 100ms;

    &__left-child + &__content {
        margin-left: 10px;
    }

    &__content + &__right-child{
        margin-left: 10px;
    }

    &__left-child {
        float: left;
    }

    &__content {
        line-height: 1em;
        vertical-align: bottom;
    }

    &__right-child {
        float: right;
    }

    &__left-child, &__content, &__right-child {
        display: inline-block;
        font-size: 15px;
    }

    &:hover {
        text-decoration: underline;
        color: inherit;

        &__content {
            color: inherit;
            text-decoration: underline;
        }
    }
}
