.pur-Link {
    @import "stylesheets/fonts";
    @import "stylesheets/colors";

    color: $pur-color-sunshade;
    border: 0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    line-height: normal;
    transition: color 100ms;

    &__left-child + &__content {
        margin-left: 10px;
    }

    &__content + &__right-child{
        margin-left: 10px;
    }

    &__content {
        flex: 1;
    }

    &:hover {
        text-decoration: underline;
        color: $pur-color-sunshade;;

        &__content {
            color: $pur-color-sunshade;
            text-decoration: underline;
        }
    }
}
