.pur-MenuLink {
    @import "../../stylesheets/spacings";

    display: block;
    color: #494949;
    font-weight: 600;
    height: 60px;
    padding: getSpacing(2);
    transition: background-color 100ms;

    &--is-active {
        background-color: #fff;
    }

    &:not(.pur-MenuLink--active):hover {
        background-color: #e4e4e4;
    }

    // Overwrite base partup styling
    &:hover, &:active, &:focus {
        color: inherit;
    }
}
