.pur-UserAvatar {
    &__image {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    &--small &__image {
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
}
