.pur-UpdateTileMeta {
    @import "stylesheets/spacings";
    @import "stylesheets/colors";

    $padding: getSpacing(1.5);

    display: flex;
    align-items: center;
    padding: $padding $padding 0 $padding;

    &__author-avatar {
        margin-right: getSpacing();
    }

    &__info {
        flex: 1;
    }

    &__created-info.pur-BaseLink {
        font-weight: 600;
        font-size: 15px;
        color: #000;
        display: block;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__created-at {
        font-weight: 600;
        font-size: 12px;
        color: $pur-color-dusty-gray;
    }
}
