.pur-UpdateTileComments {
    @import "stylesheets/spacings";
    @import "stylesheets/colors";

    &__controls {
        font-size: 14px;
        padding: getSpacing(1.5);
        color: $pur-color-dusty-gray;;
    }

    &__control-reactions.pur-Clickable {
        color: $pur-color-dusty-gray;
    }

    &__control-reactions.pur-Clickable,
    &__control-respond-link.pur-Clickable {
        font-size: 14px;
    }

    &__container {
        padding: getSpacing(1.5);
        border-top: 2px solid $pur-color-gallery;

        & > * + * {
            margin-top: getSpacing();
        }
    }

    &__more-commments {
        font-size: 14px;
    }
}
