.pur-UpdateTileContent {
    @import "../../stylesheets/border-radius";
    @import "../../stylesheets/spacings";
    @import "../../stylesheets/colors";

    padding: getSpacing(1.5);
    border-bottom: 2px solid $pur-color-gallery;

    > * {
        padding: getSpacing(1.5);
        border: 2px solid $pur-color-gallery;
        border-radius: $pur-border-radius-controls;
    }
}
