.pur-UpdateTile {
    @import "../../stylesheets/spacings";
    @import "../../stylesheets/colors";
    @import "../../stylesheets/border-radius";

    background: $pur-color-white;
    border: 2px solid $pur-color-gallery;
    border-radius: $pur-border-radius-controls;
}
