.pur-UpdateTile {
    @import "stylesheets/spacings";
    @import "stylesheets/colors";
    @import "stylesheets/border-radius";

    position: relative;
    background: $pur-color-white;
    border: 2px solid $pur-color-gallery;
    border-radius: $pur-border-radius-controls;

    &__starred-icon {
        position: absolute;
        top: 15px;
        right: 15px;
        color: $pur-color-sunshade;
    }
}
