// Transformation mixins for cross-browser compatibility

@mixin transform($transformation) {
    -moz-transform: $transformation;
    -o-transform: $transformation;
    -ms-transform: $transformation;
    -webkit-transform: $transformation;
    transform: $transformation;
}
@mixin transform-origin($origin) {
    -moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}
@mixin transform-style($style) {
    -webkit-transform-style: $style;
    transform-style: $style;
}
