.pur-CommentBox {
    @import "stylesheets/spacings";
    @import "stylesheets/fonts";

    display: flex;
    align-items: center;

    &__avatar {
        margin-right: 8px;

        > .pur-UserAvatar {
            width: 32px;
            height: 32px;
            flex: 0 0 32px;
        }
    }

    &__submit-button {
        margin-left: getSpacing(1);
    }

    &__input {
        flex: 1;
        font-family: $pur-font-primary;
        font-size: 16px;
    }
}
