.pur-SystemComment {
    @import "../../stylesheets/spacings";
    @import "../../stylesheets/colors";
    font-size: 12px;
    color: $pur-color-dusty-gray;

    &__content {
        word-break: break-all;
        display: inline;
    }

    &__postedAt {
        font-weight: bold;
    }
}