.pur-NavigationBar {
    padding: 20px;
    box-sizing: border-box;
    height: 60px;
    text-align: center;
    content: 'Partup React Development Environent';
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #57c0c9;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}